{% extends 'html/layout.html' %}

{% block title %}
    掲示板
{% endblock %}

{% block content %}
<div>
    <button class="bg-gray-600 hover:bg-blue-700 text-white rounded px-4 py-2">スレッドを建てる</button>
    <form method="post" action="example.cgi">
        <p>
            <select name="sort">
                <option value="サンプル3" selected>新着順</option>
                <option value="サンプル4">コメント数順</option>
            </select>
        </p>
    </form>
</div>

{% endblock %}

{% block footer %}
{% endblock %}