<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <title>掲示板</title>
</head>
<body>
    <header>
        <a href="http://127.0.0.1:5000/"><h1 style="color: #CECECE;" class="title">掲示板アプリ</h1></a>
        <input type="text" name="name" class="Search">
    </header>
    <div class="btn">
        <button type="button">スレッドを建てる</button>
    </div>
    <form method="post" action="example.cgi">
        <p>
            <select name="sort">
                <option value="サンプル3" selected>新着順</option>
                <option value="サンプル4">コメント数順</option>
            </select>
        </p>    
    </form>
    <footer>
        <!-- フッターの内容 -->
    </footer>
</body>
</html>