header {
    background-color: #050081; 
    opacity: 0.5;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
}

.title{
    margin-left: 4%;
    white-space: nowrap;
}

.Search {
    width: 400px;
    height: 40px; 
    text-align: right;
    margin-right: 5%;
    margin-left: auto;
    display: block;
    border-radius: 50px; 
}