<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body class="frex min-h-screen">
<header>
    <div class="flex flex-row justify-between p-5 bg-gradient-to-b from-cyan-200 to-teal-50">
        <a href="/">
            <h1 class="text-3xl font-bold">掲示板アプリ</h1>
        </a>
        <form action="{{ url_for('search') }}" method="post" class="flex flex-row">
            <input type="text" name="search_term" class="flex rounded-s-md p-2" placeholder="検索">
            <button type="submit" class="flex rounded-e-md items-center bg-white p-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                </svg>
            </button>
        </form>
    </div>
</header>

    {% block content %}{% endblock %}

<footer>
    {% block footer %}{% endblock %}
</footer>
</body>
</html>